actdiag==3.0.0
blockdiag==3.0.0
Click==8.0.3
Flask==2.0.3
funcparserlib==1.0.0a0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
nwdiag==3.0.0
Pillow==8.4.0
reportlab==3.6.6
seqdiag==3.0.0
webcolors==1.11.1
Werkzeug==2.0.3
