actdiag==3.0.0
blockdiag==3.0.0
Click==8.0.4
Flask==2.0.3
funcparserlib==1.0.0a0
gunicorn==20.1.0
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
nwdiag==3.0.0
Pillow==9.0.1
reportlab==3.6.8
seqdiag==3.0.0
webcolors==1.11.1
Werkzeug==2.0.3
