actdiag==2.0.0
blockdiag==2.0.1
Click==8.0.1
Flask==2.0.1
funcparserlib==0.3.6
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
nwdiag==2.0.0
Pillow==8.3.1
reportlab==3.5.68
seqdiag==2.0.0
webcolors==1.11.1
Werkzeug==2.0.1
