on:
  [workflow_dispatch, release]:
    branches:
      - main
    paths:
      - DOCKERHUB.md
      - .github/workflows/dockerhub-description.yml
jobs:
  docker-hub-description:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2.4.2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: yuzutech/kroki
          short-description: ${{ github.event.repository.description }}
          readme-filepath: ./DOCKERHUB.md
