name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  test-blockdiag:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Install python 3.8.1
      uses: gabrielfalcao/pyenv-action@v6
      with:
        # we cannot use 3.8.6 because pyenv 1.2.18 does not have the "definition" of this version,
        # and thus cannot install it!
        # see: https://github.com/gabrielfalcao/pyenv-action/pull/100
        default: 3.8.1
        command: pip install -U pip  # upgrade pip after installing python
      env:
        # allow unsecure commands add-path and set-env until v7 is available
        # see: https://github.com/gabrielfalcao/pyenv-action/issues/99
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    - name: Create virtualenv for python 3.8.1
      run: pyenv local 3.8.1

    - name: Install BlockDiag
      run: make installBlockDiag

    - name: Test BlockDiag
      run: make testBlockDiag

  test-containers:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Install Java dependencies
      run: make installLocalDependencies

    - name: Build Java server
      run: make buildServer

    - name: Setup Docker
      # taken from https://github.com/docker/github-actions/blob/0f18e2abad9a4ac2963d2516246787375b5ec917/Dockerfile#L32
      run: curl -fL https://download.docker.com/linux/static/stable/x86_64/docker-20.10.4.tgz | tar xzO docker/docker > docker && sudo mv -f docker /usr/bin/docker && sudo chmod +x /usr/bin/docker

    - name: Build container images
      run: make buildDockerImages

    - name: 'Setup Node.js 12'
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Install Node dependencies
      run: npm install

    - name: Run smoke tests
      run: make smokeTests
