name: CI

on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'
    branches:
      - '*'
  workflow_call:
    inputs:
      build_multiarch:
        required: true
        type: boolean

jobs:
  test-containers:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    
    - name: Free up disk space
      if: ${{ github.event.inputs.build_multiarch == 'true' }}
      uses: jlumbroso/free-disk-space@main
      with:
        android: true
        dotnet: true
        haskell: true
        large-packages: true
        swap-storage: true

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: temurin

    - name: Install Java dependencies
      run: make installLocalDependencies

    - name: Build Java server
      run: make buildServer

    - name: Set up QEMU
      if: ${{ github.event.inputs.build_multiarch == 'true' }}
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      if: ${{ github.event.inputs.build_multiarch == 'false' }}
      uses: docker/setup-buildx-action@v2

    - name: Set up Docker Buildx
      if: ${{ github.event.inputs.build_multiarch == 'true' }}
      uses: docker/setup-buildx-action@v2
      with:
        config-inline: |
          [worker.oci]
            max-parallelism = 2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Build container images
      run: make buildDockerImages
      env:
        BUILD_MULTIARCH: ${{ inputs.build_multiarch }}
        CACHE_FROM: 'type=local,src=/tmp/.buildx-cache'
        CACHE_TO: 'type=local,dest=/tmp/.buildx-cache-new'

    - name: 'Setup Node.js 16'
      uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: Install Node dependencies
      run: npm install

    - name: Run smoke tests
      run: make smokeTests

    # This ugly bit is necessary if you don't want your cache to grow forever until it hits GitHub's limit of 5GB.
    # Temp fix
    # https://github.com/docker/build-push-action/issues/252
    # https://github.com/moby/buildkit/issues/1896
    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache

